@model IEnumerable<Beta_System.Models.C_establos_caseta_tipos_entradas_areas>

@foreach (var item in Model)
{
    <option value="@item.id_caseta_area">@item.C_establos_areas.nombre_area</option>
}




