
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="page_title">
    <div class="counter_section">
        <h1>Asignar cuenta contable a usuarios</h1>
        <div class="row">
            <div class="col-md-4">
                <strong>Usuario/Empleado:</strong>
                <select class="form-control" id="id_usuario_cuenta_contable" onchange="LimparCuentasUsuario();">
                    @{ Html.RenderAction("ConsultarUsuariosCorporativoSelect", "USUARIOS");}
                </select>
            </div>
            <div class="col-md-3">
                <strong>Cuenta contable</strong>
                <input class="form-control" id="cuenta_contable_buscar" />
            </div>
            <div class="col-md-1 p-3">
                <button class="btn btn_beta_icon" onclick="ConsultarCuentasContablesUsuario();"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div id="div_cuenta_contable_usuario"></div>
        <hr />
        <div class="row">
            <div class="col-md-4 text-left">
                <button class="btn btn_beta" onclick="AsignarTodoCuentasContableUsuario();">ASIGNAR TODAS</button>
                <button class="btn btn_beta_danger" onclick="RemoverCuentaContableUsuario();">REMOVER TODAS</button>
            </div>
            <div class="col-md-8 text-right">
                <button class="btn btn_beta" onclick="AsignarCuentasContablesUsuario();">Asignar cuentas seleccionadas</button>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles_CuentaContable/js")

<script>

    $(window).on("load", function () {
        try {
            $("#id_usuario_cuenta_contable").select2({
                placeholder: 'Selecciona un solicitante'
            });
        }
        catch (ex) { }
    });
</script>