
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="page_title">
    <div class="counter_section">
        <h1>Tiradas diarias</h1>
    </div>
</div>

<div class="column2 counter_section">
    <div class="row">
        <div class="col-md-3 form-group">
            <strong>Establo:</strong>
            <select class="form-control id_establo_select" id="id_establo"></select>
        </div>
        <div class="col-md-2 form-group">
            <strong>Fecha</strong>
            <input type="date" id="fecha_tirada" class="form-control" />
        </div>

        <div class="col-md-1 form-group">
            <br />
            <button class="btn btn_beta_icon" onclick="ConsultarTiradasDiarias();"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <br />
    <div id="div_tiradas_diarias" class="table-responsive"></div>
</div>

@Scripts.Render("~/bundles_AlimentacionTracker/js")

<script>
    $(window).on("load", function () {
        ConsultarEstablosUsuarioSelect(0);

        try {
            $("#id_articulo_ing").select2({
                placeholder: 'Selecciona un ingrediente',
                //dropdownParent: $("#tabulador")
            });
        }
        catch (ex) { }

        $('input[type="date"]').val(last_week);
        $('#fecha_fin').val(today);
        $('.id_establo_select option[value="4"]').remove();
    });
</script>

