
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="page_title">
    <div class="counter_section">
        <h1>Asignador de establos a usuarios</h1>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 text-right">
                <strong>ROLES:</strong>
                <br />
                <select class="form-control id_rol_select" id="id_rol_select" onchange="ConsultarUsuariosEstablos();">
                    @{ Html.RenderAction("ConsultarRoles", "ROLES", new { id_status = 1 }); }
                </select>
            </div>
        </div>
        <br />
        <hr />
        <div class="table-responsive">
            <div id="div_usuarios_establos">

            </div>
        </div>
        <br />
        <button class="btn btn_beta" onclick="GuardarUsuariosEstablos();">Guardar cambios</button>

    </div>

</div>

@Scripts.Render("~/bundles_Establo/js")

<script>
    $(window).on("load", function () {
        ConsultarUsuariosEstablos();
    });

    try {
        $("#id_rol_select").select2({
            placeholder: 'Selecciona un usuario',
            //dropdownParent: $("#tabulador")
        });
    }
    catch (ex) { }
</script>