
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    List<int> permisos = Session["PermisosModulo"] as List<int>;
}


<style>
    .divEditable {
        padding: 3px;
    }
</style>

<div class="page_title">
    <div class="counter_section">
        <h1>Reporte de entradas vs recepcion de ordenes</h1>
    </div>
</div>


<div class=" column2 counter_section">
    <div class="row">
        <div class="col-md-2">
            <strong>Almacen:</strong>
            <select class="form-control" id="id_almacen">
                @{ Html.RenderAction("ConsultarAlmacenesUsuarioSelect", "CATALOGOS", new { id_usuario = (int)Session["LoggedId"] }); }
            </select>
        </div>
        <div class="col-md-2">
            <strong>Fecha inicio:</strong>
            <input type="date" class="form-control" id="fecha_inicio" />
        </div>
        <div class="col-md-2">
            <strong>Fecha fin:</strong>
            <input type="date" class="form-control" id="fecha_fin" />
        </div>
        <div class="col-md-3">
            <br />
            <button class="btn btn_beta_icon" onclick="ConsultarEntradasVsRecepcionOrdenesTable();"><i class="fa fa-search"></i></button>
        </div>
        @*<div class="col-md-3 text-right">
           <button class="btn btn_beta btn-block text-center" onclick="ConsultarEntradasVsRecepcionOrdenesExcel();"><i class="fa fa-download"></i>DESCARGAR REPORTE EXCEL</button></a>
        </div>*@
    </div>

    <div class="table-responsive" id="div_reporte_entradas_vs_ordenes">
    </div>
</div>

@Scripts.Render("~/bundles_ReportesAlmacen/js")

<script>
    $(window).on("load", function () {

    });
</script>