
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="page_title">
    <div class="counter_section">
        <h1>Asignar almacenes a usuarios</h1>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <strong>Usuario/Empleado:</strong>
                <select class="form-control" id="id_usuario_almacen" onchange="ConsultarAlmacenesUsuario();">
                    @{ Html.RenderAction("ConsultarUsuariosCorporativoSelect", "USUARIOS");}
                </select>
            </div>
        </div>
        <br />
        <div class="table-responsive" id="div_almacenes_usuario">

        </div>
        <br />
        <button class="btn btn_beta" onclick="GuardarAlmacenesUsuario();">Guardar cambios</button>
        <button class="btn btn_beta_danger" onclick="RemoverAlmacenesUsuario();">Remover almacenes</button>
    </div>

</div>




@Scripts.Render("~/bundles_Almacen/js")

<script>

    $(window).on("load", function () {
        ConsultarAlmacenesUsuario();

    try {
        $("#id_usuario_almacen").select2({
            placeholder: 'Selecciona un usuario',
            //dropdownParent: $("#tabulador")
        });
    }
    catch (ex) { }

    });
</script>