@model List<Beta_System.Models.C_articulos_catalogo>


<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-beta text-center">
            <th>Clave</th>
            <th>Articulo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center rows_articulos" onclick="SeleccionarArticuloAsociacion(@item.id_articulo);" id="row_art_@item.id_articulo">
                <td>@item.clave</td>
                <td class="text-left">@item.nombre_articulo</td>
            </tr>
        }
    </tbody>
</table>