@model IEnumerable<Beta_System.Models.C_bascula_codigos_movimientos>

@foreach (var item in Model)
{
    <option value="@item.id_bascula_codigo_movimiento">@item.codigo_mov - @item.descripcion</option>
}