
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="page_title">
    <div class="counter_section">
        <div class="row">
            <div class="col-md-9">
                <h1>Administrar centros</h1>
            </div>
            <div class="col-md-3 text-right">
                <strong>Nuevo centro</strong>
                <button class="btn btn_beta_icon" onclick="NuevoCentro();"><i class="fa fa-plus"></i></button>
            </div>
        </div>


    </div>
</div>

<div class="column2 counter_section">
    <div class="table-responsive" id="div_tabla_centros"></div>
</div>


<!-- Modal EDITAR CENTRO-->
<div class="modal fade" id="m_add_upd_centro" tabindex="-1" role="dialog" aria-labelledby="m_editar_centroLbl" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" style="min-width:400px; width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lbl_add_upd_centro">Nuevo centro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid text-center">
                    <strong>Siglas:</strong>
                    <input type="text" class="form-control" id="siglas_centro" />
                    <br />
                    <strong>Nombre:</strong>
                    <input type="text" class="form-control" id="nombre_centro" />
                    <br />
                    <button class="btn btn_beta" id="btn_add_upd_centro"></button>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_beta_danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal EDITAR CENTRO  -->


@Scripts.Render("~/bundles_Centros/js")

<script>
    $(window).on("load", function () {
        ConsultarCentrosTable();
    });
</script>
