<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--ICONO DE LA PAGINA-->
    <link rel="icon" type="image/png" href="~/Content/img_layout/Logo_beta_icono.png" />

    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SIIB | Sistema Integral de Información BETA</title>

    <link rel="stylesheet" href="~/Content/css/NotFound.css" />
</head>
<body>
    <div class="cow" aria-label="Dibujo animado de una vaca">
        <div class="head">
            <div class="face"></div>
        </div>
        <div class="leg b l"></div>
        <div class="leg b r"></div>
        <div class="leg f l"></div>
        <div class="leg f r"></div>
        <div class="tail"></div>
    </div>
    <div class="well" aria-hidden="true"></div>
    <div class="text-box" role="main" aria-labelledby="error-title" aria-describedby="error-desc">
        <h1 id="error-title">401</h1>
        @*<p id="error-desc">Oops... no tienes acceso a esta página.</p>*@
        <p id="error-desc">Oops... la sesión caducó</p>
        <a href="/" class="home-btn" role="button" aria-label="Volver al inicio">Volver al inicio</a>
    </div>
    
</body>
</html>
