@model IEnumerable<Beta_System.Models.C_compras_proveedores>

@foreach (var item in Model)
{
    <option value="@item.id_compras_proveedor">@item.alias_bascula - @item.C_tipos_moneda.clave_fiscal</option>
}