@model Beta_System.Models.C_usuarios_corporativo

<html lang="en">
<head>
    <!--ICONO DE LA PAGINA-->
    <link rel="icon" type="image/png" href="~/Content/img_layout/Logo_beta_icono.png" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIIB | Sistema Integral de Información BETA</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content/production/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/production/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/production/css/animate.min.css" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="/Content/production/css/custom.css" rel="stylesheet">
    <link href="/Content/production/css/icheck/flat/green.css" rel="stylesheet">
    <script src="/Content/production/js/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--IZITOAST-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body style="background:white;">
    <div id="">
        <div id="login" class="animate">
            <section class="login_content" style="width:400px;">
                <div class="widget widget_tally_box">
                    <div class="x_panel">
                        <div class="x_content">
                            <h1>Bienvenido</h1>
                            <div class="flex">
                                <ul class="list-inline widget_profile_box">
                                    <li>
                                    </li>
                                    <li>
                                        <img src="~/Content/img_layout/user_circle.png" alt="..." class="img-circle profile_img">
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="name"><b>@ViewBag.NombreEmpleado</b></h4>
                            <h4><b>Por motivos de seguridad debes cambiar tu contraseña</b></h4>
                            <div>
                                <a class="left">Contraseña actual:</a>
                                <input type="password" id="contraseña_actual" class="form-control" /><br />
                                <a class="left">Nueva contraseña:</a>
                                <input type="password" id="nueva_contraseña" class="form-control" />
                                <a class="left">Repite tu contraseña:</a>
                                <input type="password" id="nueva_contraseña2" class="form-control" /><br />
                                <button class="btn btn-primary col-md-12" onclick="PasswordReset(@ViewBag.IdUsuario)">Aceptar</button>
                            </div>
                            <p>
                                Nota: Te recomendamos utilizar numeros y letras para aumentar la seguridad de tu contraseña
                            </p>
                            <img style="width:125px;" src="~/Content/img_layout/logo_beta_new.png" /><br /><br /><br />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>

@Scripts.Render("~/bundles_Password/js");


