<div class="row p-2">
    <div class="col-md-6">
        <strong>Proveedor:</strong>
        <select class="form-control limpiar_p1 borders" id="select_proveedor">
            <option value="0">Selecciona un proveedor</option>
        </select>
    </div>
    <div class="col-md-6">
        <strong>Articulo/Producto</strong>
        <select class="form-control limpiar_p1 borders" id="select_articulo">
            <option value="0">Selecciona un artículo</option>
        </select>
    </div>
</div>

<div class="row p-2">
    <div class="col-md-2">
        <strong>Movimiento</strong><br />
        <select class="form-control limpiar_p1" id="tmov">
            @{ Html.RenderAction("ConsultarTiposMovimientoSelect", "CATALOGOS"); };
        </select>
    </div>
    <div class="col-md-4">
        <strong>Tipo de movimiento</strong>
        <select class="form-control limpiar_p1" id="cvemov">
        </select>
    </div>
    <div class="col-md-6">
        <strong>Línea transportista:</strong>
        <select class="form-control " id="linea_trasp">@{ Html.RenderAction("ConsultarLineasTrasnportistasSelect", "CATALOGOS"); };</select>
    </div>
</div>

<div class="row p-2">
    <div class="col-md-5">
        <strong>Conductor:</strong>
        <input type="text" class="form-control limpiar_p1 solo-letras borders" id="conductor" oninput="this.value = this.value.toUpperCase();" />
    </div>
    <div class="col-md-3">
        <div class="col-md-5">
            <strong>Placas:</strong>
            <input type="text" class="form-control limpiar_p1 solo-letras-numeros borders" id="placas" oninput="this.value = this.value.toUpperCase();" />
        </div>
        <div class="col-md-7">
            <strong>Placas Pipa:</strong>
            <input type="text" class="form-control limpiar_p1 solo-letras-numeros borders" id="placas_pipa" oninput="this.value = this.value.toUpperCase();" />
        </div>
    </div>
    <div class="col-md-4">
        <strong>Tanque</strong>
        <textarea rows="1" id="obs" class="form-control limpiar_p1 solo-letras-numeros" oninput="this.value = this.value.toUpperCase();"></textarea>
    </div>
</div>

<div class="row p-2">
    <div class="col-md-6">
        <button class="btn btn_beta_danger" onclick="LimpiarCamposFicha(1);">Limpiar</button>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn_beta" id="confirmar_primera_pesada" onclick="AdvertenciaPesada(1);">Crear ficha</button>
    </div>
</div>

<script>
    try {
        $("#select_proveedor").select2({
            placeholder: 'Selecciona un proveedor',
        });
        $("#select_articulo").select2({
            placeholder: 'Selecciona un artículo'
        });
    }
    catch (ex) { }
</script>