<div class="row p-2">
    <div class="col-md-5">
        <strong>Proveedor:</strong>
        <input type="text" class="form-control limpiar_sp" id="select_proveedor_sp" readonly />
    </div>
    <div class="col-md-5">
        <strong>Articulo/Producto</strong>
        <input type="text" class="form-control limpiar_sp" id="select_articulo_sp" readonly />
    </div>
    <div class="col-md-2">
        <strong>No. Pozo:</strong>
        <input type="text" class="form-control limpiar_sp" id="no_pozo_sp" readonly />
    </div>
</div>

<div class="row p-2">
    <div class="col-md-2">
        <strong>Movimiento</strong>
        <input type="text" class="form-control limpiar_sp" id="tmov_sp" readonly />
    </div>
    <div class="col-md-4">
        <strong>Tipo de movimiento</strong>
        <input type="text" class="form-control limpiar_sp" id="cvemov_sp" readonly />
    </div>
    <div class="col-md-2">
        <strong>Folio:</strong>
        <input type="text" class="form-control limpiar_sp" id="folio_sp" readonly />
    </div>
    <div class="col-md-3">
        <strong>Sucursal:</strong>
        <input type="text" class="form-control limpiar_sp" id="sucursal_sp" readonly />
    </div>

    <div class="col-md-1">
        <div class="col-md-12 text-center">
            <strong>Agrupada</strong>
            <input type="checkbox" class="form-control limpiar_sp p-3" id="agrupada_sp" style="height:30px;" disabled />
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="col-md-4">
        <strong>Destino:</strong>
        <input type="text" class="form-control limpiar_sp" id="destino_sp" readonly />
    </div>
    <div class="col-md-4">
        <strong>Conductor:</strong>
        <input type="text" class="form-control limpiar_sp" id="conductor_sp" readonly />
    </div>
    <div class="col-md-2">
        <strong>Placas:</strong>
        <input type="text" class="form-control limpiar_sp" id="placas_sp" readonly />
    </div>
    <div class="col-md-2">
        <strong>Peso origen:</strong>
        <input type="text" class="form-control limpiar_sp" id="peso_origen_sp" readonly />
    </div>
    
</div>

<div class="row p-2">
    <div class="col-md-6">
        <strong>Observaciones</strong>
        <input type="text" class="form-control limpiar_sp" id="obs_sp" readonly />
    </div>
    <div class="col-md-2">
        <strong>Peso 1</strong>
        <input type="text" class="form-control limpiar_sp" id="peso1_sp" readonly />
    </div>
    <div class="col-md-2">
        <strong>Peso T</strong>
        <input type="text" class="form-control limpiar_sp" id="pesot_sp" readonly />
    </div>
    <div class="col-md-2 p-3 text-center">
        <button class="btn btn_beta" id="confirmar_segunda_pesada" onclick="AdvertenciaPesada(2);">Segunda Pesada</button>
    </div>
</div>